h1{
  text-align: center;
  padding: 10px;
}

p{
  text-align: center;
}

table{
  margin-top: 20px;
}

#edit{
  margin-right: 10px;
}

#btn-create{
  background-color: #262626;
  color: white;
}
#edit{
  background-color:#FBE450;
  color: black;
}
#delete{
  background-color: #60a3c2;
  color: rgb(0, 0, 0)
  ;
}
#icon-edit{
  color: #60a3c2;
  margin-right: 7px;
}

i{
  cursor: pointer;
}