
  <h1>INSTRUMENTOS</h1>

  <p *ngIf="!(instrumentos && instrumentos.length)">

    No hay Instrumentos en la base de datos!

  </p>

  <table class="table table-hover " *ngIf="(instrumentos && instrumentos.length)">

    <thead>
      <tr>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Marca</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th></th>

      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let item of instrumentos" >

        <td>{{item.nombreInstrumento}}</td>
        <td>{{item.tipoInstrumento}}</td>
        <td>{{item.marcaInstrumento}}</td>
        <td>{{item.precioInstrumento}}</td>
        <td>{{item.cantidad}}</td>

        <td class="text-center">
          <a [routerLink]='["/instrumento-edit/"+ item.id]'>
            <i class="fas fa-edit fa-lg" id="icon-edit"></i>
          </a>


         <a (click)="deleteInstrument(item.id)">
          <i class="far fa-trash-alt fa-lg text-danger"></i>
         </a>

        </td>



      </tr>

    </tbody>
  </table>

  <div class="boton">

    <button type="button" class="btn btn-light" id="btn-create"
    [routerLink]='["/instrumento-add"]'>Crear</button>

  </div>
