h1{
  text-align: center;
  padding: 10px;
}

p{
  text-align: center;
}

table{
  margin-top: 20px;
}

#edit{
  margin-right: 10px;
}

#btn-create{
  background-color: #262626;
  color: white;
}
#edit{
  background-color:#39C0ED;
  color: white;
}
#delete{
  background-color: #F93154;
  color: white
  ;
}