



<div class="formulario">

    <div class="mx-auto" id="edit-form">
        <img src="https://img.icons8.com/clouds/300/000000/edit.png"/>
    </div>


    <form class="form" (ngSubmit)="saveOrEdit()" [formGroup]="formGroup" >

    <div class="form-group">
    <div class="box-input">
        <label>Nombre</label>
        <input class="form-control"
        id="nombreInstrumento"
        type="text"
        required
        formControlName="nombreInstrumento"/>
    </div>
    </div>

    <div class="form-group">
    <div class="box-input">
      <label>Tipo de Instrumento</label>
        <input class="form-control"
        id="tipoInstrumento"
        type="text"
        required
        formControlName="tipoInstrumento"/>
    </div>
    </div>


    <div class="form-group">
        <div class="box-input">
            <label>Marca</label>
            <input class="form-control"
            id="marcaInstrumento"
            type="text"
            required
            formControlName="marcaInstrumento"/>
        </div>
        </div>

        <div class="form-group">
            <div class="box-input">
              <label>Precio</label>
                <input class="form-control"
                id="precioInstrumento"
                type="number"
                required
                formControlName="precioInstrumento"/>
            </div>
            </div>

            <div class="form-group">
                <div class="box-input">
                    <label>Cantidad</label>
                    <input class="form-control"
                    id="cantidad"
                    type="number"
                    required
                    formControlName="cantidad"/>
                </div>
                </div>


                <div class="btn-submit" *ngIf="edit">
                    <input type="submit"  value="Actualizar" class="btn-mine">
                </div>


                <div class="btn-submit" *ngIf="!edit">
                    <input type="submit"  value="Crear Instrumento" class="btn-mine">
                </div>

</form>


</div>




